/* Info and media feeds */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-info {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 125px;
}

.email-icon {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.socials {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 12vw;
    padding-bottom: 50px;
    padding-top: 50px;
}

.social-icons {
    display: inline-flex;
    width: 225px;
    gap: 10px;
    padding-right: 150px;
}

.pad-left {
    padding-left: 75px;
}

.icon {
    fill: white;
}

.socials-carousel {
    width: 70vw;
    margin-top: 100px;
    margin: 0 auto;
    padding-top: 50px;
}

hr {
    width: 60%;
}