/* Banner */
#banner {
    height: 39em;
    background: black;
    overflow: hidden;
    background: #C33764;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(34, 34, 34, 1)), url("../img/banner_bg.jpg"), center, center, no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(34, 34, 34, 1)), url("../img/banner_bg.jpg"), center, center, no-repeat;
    background-size: 100vw;
    position: relative;
    text-align: center;
    padding: 0 25%;
}

img {
   object-fit: scale-down;
}

#banner * {
    position: relative;
}

#banner h1 {
    font-size: 8rem;
    color: rgba(255, 255, 255, 1);
    font-family: Oswald, monospace, sans-serif;
    font-weight: 700;
    line-height: 7rem;
    top: -400px;
}

#banner p {
    height: 5em;
    width: 25em;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: Oswald, monospace, sans-serif;
    font-weight: 400;
    left: -700px;
}

/* Latest */
#latest {
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: Roboto, monospace, sans-serif;
}