/* Banner */
#banner {
    height: 25em;
    background: black;
    overflow: hidden;
    background: #C33764;
    background: -webkit-linear-gradient(rgba(34, 34, 34, 0.8) 0% 0%, rgba(34, 34, 34, 1) 100% 100%), url("../img/banner_bg.jpg"), center, center, no-repeat;
    background: linear-gradient(rgba(34, 34, 34, 0.8) 0% 0%, rgba(34, 34, 34, 1) 100% 100%), url("../img/banner_bg.jpg"), center, center, no-repeat;
    background-size: 100vw;
    position: relative;
    text-align: center;
    padding: 0 25%;
}

img {
   object-fit: scale-down;
}

#banner * {
    position: relative;
}

#banner h1 {
    font-size: 8rem;
    color: white;
    font-family: Oswald, monospace, sans-serif;
    font-weight: 700;
    line-height: 7rem;
}

#banner p {
    height: 5em;
    width: 25em;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: Oswald, monospace, sans-serif;
    font-weight: 400;
}


#latest_post {
    color: white;
    background-color: rgb(34, 34, 34);
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Roboto, monospace, sans-serif;
    border: rgb(51, 51, 51);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgb(70, 85, 87);
}

.post {
    color: white;
    background-color: rgb(56, 56, 56);
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: Roboto, monospace, sans-serif;
    border: rgb(51, 51, 51);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 3px rgb(70, 85, 87);
}

.post #title {
    text-decoration: underline;
}

.post #date {
    font-size: x-small;
}

.continue_reading {
    color:rgb(98, 124, 128);
    font-size: small;
}